.profile-label {
  color: black;
  width: 30%;
  text-align: left !important;
  margin: 5px 0px;
}

.profile-input {
  width: 70%;
  margin: 5px 0px;
}

input[type="radio"] {
  box-sizing: border-box;
  margin: 5px;
  margin-left: 5%;
  margin-right: 2%;
}

section {
  color: black;
}
